<h1>Restaurant Example</h1>

This notebook demonstrates how to use GreyNSights on a remote dataset hosted by some dataowner with Differential Privacy. The primary aim of this example is to show pandas could be used as it is across a wide range of queries to analyze and explore a remote datasource. For running this example first run datasource.py , this begins the datasource server which hosts the dataset and executes the requests made from this notebook.

In [1]:
from GreyNsights.analyst import DataWorker, DataSource, Pointer, Command, Analyst
from GreyNsights.frameworks import framework

In [2]:
identity = Analyst("Alice", port=65441, host="127.0.0.1")
worker = DataWorker(port=65442, host="127.0.0.1")
dataset = DataSource(identity,worker, "Sample Data")

In [3]:
dataset_pt = dataset.init_pointer()

In [4]:
frameworks = framework()
pandas = frameworks.pandas

In [5]:
df = pandas.DataFrame(dataset_pt)

In [6]:
df.columns

Index(['animal', 'carrots_eaten'], dtype='object')

In [7]:
df.describe().get()

       carrots_eaten
count     182.000000
mean       53.016484
std        29.358797
min         0.000000
25%        28.250000
50%        53.500000
75%        80.000000
max       100.000000