<h1>Accidents Example</h1>

This notebook demonstrates how to use GreyNSights on a remote dataset hosted by some dataowner. The primary aim of this example is to show pandas could be used as it across a wide range of queries to analyze and explore a remote datasource. For running this example first run datasource.py , this begins the datasource server which executes the requests made from this notebook.

In [1]:
import numpy as np
import pandas

Create a dataframe from the dataset (Its already a dataframe but to demonstrate GreyNSights pandas remote execution)

In [2]:
dataset = pandas.read_csv("US_Accidents_June20.csv")

In [3]:
df = pandas.DataFrame(dataset)

The above operation returns a pointer to the datasource on which operations can be performed. The exact same functionalities as Pandas dataframes can be performed.

Get summary statistics of dataset

In [4]:
print(df.describe())

                TMC      Severity     Start_Lat     Start_Lng       End_Lat  \
count  2.478818e+06  3.513617e+06  3.513617e+06  3.513617e+06  1.034799e+06
mean   2.080226e+02  2.339929e+00  3.654195e+01 -9.579151e+01  3.755758e+01
std    2.076627e+01  5.521935e-01  4.883520e+00  1.736877e+01  4.861215e+00
min    2.000000e+02  1.000000e+00  2.455527e+01 -1.246238e+02  2.457011e+01
25%    2.010000e+02  2.000000e+00  3.363784e+01 -1.174418e+02  3.399477e+01
50%    2.010000e+02  2.000000e+00  3.591687e+01 -9.102601e+01  3.779736e+01
75%    2.010000e+02  3.000000e+00  4.032217e+01 -8.093299e+01  4.105139e+01
max    4.060000e+02  4.000000e+00  4.900220e+01 -6.711317e+01  4.907500e+01

            End_Lng  Distance(mi)        Number  Temperature(F)  \
count  1.034799e+06  3.513617e+06  1.250753e+06    3.447885e+06
mean  -1.004560e+02  2.816167e-01  5.975383e+03    6.193512e+01
std    1.852879e+01  1.550134e+00  1.496624e+04    1.862106e+01
min   -1.244978e+02  0.000000e+00  0.000000e+00   -8.900000e+01
25%   -1.183440e+02  0.000000e+00  8.640000e+02    5.000000e+01
50%   -9.703438e+01  0.000000e+00  2.798000e+03    6.400000e+01
75%   -8.210168e+01  1.000000e-02  7.098000e+03    7.590000e+01
max   -6.710924e+01  3.336300e+02  9.999997e+06    1.706000e+02

       Wind_Chill(F)   Humidity(%)  Pressure(in)  Visibility(mi)  \
count   1.645368e+06  3.443930e+06  3.457735e+06    3.437761e+06
mean    5.355730e+01  6.511427e+01  2.974463e+01    9.122644e+00
std     2.377334e+01  2.275558e+01  8.319758e-01    2.885879e+00
min    -8.900000e+01  1.000000e+00  0.000000e+00    0.000000e+00
25%     3.570000e+01  4.800000e+01  2.973000e+01    1.000000e+01
50%     5.700000e+01  6.700000e+01  2.995000e+01    1.000000e+01
75%     7.200000e+01  8.400000e+01  3.009000e+01    1.000000e+01
max     1.150000e+02  1.000000e+02  5.774000e+01    1.400000e+02

       Wind_Speed(mph)  Precipitation(in)
count     3.059008e+06       1.487743e+06
mean      8.219025e+00       1.598256e-02
std       5.262847e+00       1.928262e-01
min       0.000000e+00       0.000000e+00
25%       5.000000e+00       0.000000e+00
50%       7.000000e+00       0.000000e+00
75%       1.150000e+01       0.000000e+00
max       9.840000e+02       2.500000e+01

The below operation performs operation on the pointer which ensures the operation is executed remotely by datasource. The original results are returned only when the get function is called. This tutorial allows all the get

In [5]:
print(df["TMC"].mean())

208.02258052023183

In [6]:
print(df.shape)

(3513617, 49)

In [7]:
print(df.columns)

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [8]:
df = df[
    [
        "ID",
        "Source",
        "TMC",
        "Severity",
        "Start_Time",
        "End_Time",
        "Start_Lat",
        "Start_Lng",
        "End_Lat",
        "End_Lng",
    ]
]

In [9]:
df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng'],
      dtype='object')

In [10]:
df["Somecol"] = (df["TMC"] + df["Severity"] / 10) / 2

In [11]:
df["Somecol"].describe()

count    2.478818e+06
mean     1.041284e+02
std      1.038752e+01
min      1.001000e+02
25%      1.006000e+02
50%      1.006000e+02
75%      1.006500e+02
max      2.032000e+02
Name: Somecol, dtype: float64

In [12]:
df["Somecol"] = df["TMC"] + df["Severity"]
df["Somecol"].describe()

count    2.478818e+06
mean     2.103657e+02
std      2.085879e+01
min      2.020000e+02
25%      2.030000e+02
50%      2.030000e+02
75%      2.040000e+02
max      4.100000e+02
Name: Somecol, dtype: float64

In [13]:
((df["Severity"] > 8) | (df["TMC"] > 200)).describe()

count     3513617
unique          2
top          True
freq      2478752
dtype: object

In [14]:
(df[df["TMC"] > 200]).describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Somecol
count,2.478752e+06,2.478752e+06,2.478752e+06,2.478752e+06,0.0,0.0,2.478752e+06
mean,2.080228e+02,2.343143e+00,3.611790e+01,-9.384430e+01,NaN,NaN,2.103659e+02
std,2.076651e+01,4.814226e-01,4.830004e+00,1.647460e+01,NaN,NaN,2.085903e+01
min,2.010000e+02,1.000000e+00,2.455527e+01,-1.246238e+02,NaN,NaN,2.020000e+02
25%,2.010000e+02,2.000000e+00,3.323071e+01,-1.118023e+02,NaN,NaN,2.030000e+02
50%,2.010000e+02,2.000000e+00,3.539139e+01,-8.792552e+01,NaN,NaN,2.030000e+02
75%,2.010000e+02,3.000000e+00,3.998266e+01,-8.083914e+01,NaN,NaN,2.040000e+02
max,4.060000e+02,4.000000e+00,4.900220e+01,-6.783974e+01,NaN,NaN,4.100000e+02

In [15]:
def somefunc(x):
    return x + 2

df["Somecol"] = df["TMC"].apply(somefunc)

In [16]:
df["Somecol"].describe()

count    2.478818e+06
mean     2.100226e+02
std      2.076627e+01
min      2.020000e+02
25%      2.030000e+02
50%      2.030000e+02
75%      2.030000e+02
max      4.080000e+02
Name: Somecol, dtype: float64